* {
  cursor: url(./assets/cursor_normal.png), auto;
}

#audio{
  display: none
  }

body {
  background-image: url(./assets/vecteezy_cute-seamless-pattern-for-kids-sky-background-with-rainbow_3721254.jpg);
  background-repeat: none;
  font-size: 20px;
}
.dark-mode {
  background-color: black;
  color: white;
  background-image: url(./assets/nightsky.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: 100%;
}
.light-mode {
  background-color: white;
  color: black;
  background-image: url(./assets/nubes.jpg);
  background-repeat: none;
  background-position: center;
  background-size: 100%;
}


.info {
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 0;
  border-radius: 1rem;
}
.info:hover{
  margin-top: 20px;
  background-color: wheat;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color:white;
}

  .info:active{
  background-color:burlywood;
  box-shadow: 0 5px  #666;
  transform: translateY(4px);

  }


  


h3 {
  font-family: 'Chilanka', cursive;
  letter-spacing: 1.5px;
  background-color: #8C92AC;
  padding: 0.8rem;
  font-size: 1.2rem;
  box-shadow: 5px 5px #FFFCC9 ;
}

.contenedor {
  display: flex;
  width: 350px;
  margin: 0 auto;
  padding: 0px;
  border: none;
  background-color: transparent;
  text-align: center;
}

.contenedor2 {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  border: none;
  background-color: transparent;
  text-align: center;
}

.contenedor img {
  max-width: 100%;
  float: center;
  width: 100%;
  background-color: transparent;
  border: none;
}

.contenedor2 img {
  max-width: 100%;
  float: center;
  width: 100%;
  background-color: transparent;
  border: none;
}


.contenedor img:hover {
  transform: scale(1.2);
}

.tiempo {
  background-color: transparent;
  border: none;
}

.header {
  background-color: whitesmoke;
  opacity: 95%;
  height: 9rem;
  position: top;
  margin: 0 auto;
  width: 80%;
  z-index: 100;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.logo {
  padding-top: 1rem;
  height: 7rem;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.posicion {
  display: inline-block;
  position: relative;
  padding-top: 1rem;
  z-index: -100;
}

.personaje {
  background-color: transparent;
  border: none;
}

.personaje img:hover {
  transform: scale(1.2);
}

/*timer*/

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
  font-size: 50px;
  width: 100px;
  height: 100px;
  background-color: #29b830;
  border-radius: 50%;
}
.wrap {
  vertical-align: middle;
  display:flex;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start {
  padding-top: 10rem;
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

#start::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

#start:hover, #start:focus {
  color: #313133;
  transform: translateY(-6px);
}

#start:hover::before, #start:focus::before {
  opacity: 1;
}

#start::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#start:hover::after, #start:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* timer */

/* Contador de visitas*/
.website-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.website-counter {
  background-color: #ff4957;
  height: 50px;
  width: 80px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}

.contfdsaenedor_columna{
display: flex;
}
.columna
{
  display:inline-block;
}

.boton_cepillar{
  display: inline;
  padding-top: -5rem;
}

/* Boton de resetear */
#reset {
  display: inline;
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 0;
  border-radius: 5px;
}

.pipo {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
  
}
.pipo:hover {
  font-size: 1.5rem;
  background-color: #A1E7FF;
  border-radius: 0.2rem;
  color: white;
  border: none;
}

.pipa {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
}
.pipa:hover {
  font-size: 1.5rem;
  background-color:  #EE959E;
  border-radius: 0.2rem;
  color: white;
  border: none;
}

.pepe {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
}
.pepe:hover {
  font-size: 1.5rem;
  background-color: #cae7c1;
  border-radius: 0.2rem;
  color: white;
  border: none;
}

.pepo {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
}
.pepo:hover {
  font-size: 1.5rem;
  background-color: #C3BBC7;
  border-radius: 0.2rem;
  color: white;
  border: none;
}

/* footer de la pagina */
.footer {
  position: relative;
  height: 110px;
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  padding-top: 2rem;
}

.logoFooter {
  display: inline-block;
  height: 110px;
  margin: 0 auto;
  align-self: center;
  align-items: center;
  border: none;
  background: transparent;
}

/* footer de la pagina

/*formulario*/
.formu{
  background-color: #008cba;
  color: whitesmoke;
  height: 2rem;
  vertical-align: middle;

}


/*media queries*/


@media only screen and (max-width: 600px) {
  .header {
    background-color: whitesmoke;
    opacity: 95%;
    height: 5rem;
    position: top;
    margin: 0 auto;
    width: 80%;
    z-index: 100;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
  }
  .logo {
    padding-top: 1rem;
    height: 3rem;
    position: relative;
  }
}
